body {
    background-color: rgb(199, 208, 183);
}

.div1 {
    border: 2px solid rgb(11, 108, 13);
    border-radius: 20px;    
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI';
    font-weight: bold;
}

#div_title {    
    background-color: rgb(0% 20% 100%);    
}

#div_init {    
    background-color: rgb(90% 90% 0%);
}

#div_test1 {
    background-color: rgb(80% 0% 40%);
}

#div_test2 {
    background-color:rgb(0% 100% 50%);
}

#par_title {    
    color: rgb(80% 100% 80%);
    font-size: 40px;    
}

#par_init {    
    color: rgb(0% 0% 50%);
    font-size: 25px;
    font-style: italic;
}

#par_test1 {
    color: rgb(100% 100% 0% );
    font-size: 10px;
    font-style: italic;
}

#par_test2 {
    color: rgb(30% 10% 70%);
    font-size: 20px;
    font-style: italic;
}
