body {
    background-color: rgb(199, 208, 183);
}

.div1 {
    border: 2px solid rgb(11, 108, 13);
    border-radius: 20px;    
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI';
    font-weight: bold;
}

#par_title {    
    color: rgb(22, 22, 118);
    font-size: 40px;    
}

#par_init {    
    color: rgb(11, 114, 30);
    font-size: 25px;
    font-style: italic;
}

#par_test1 {
    color: rgb(230, 11, 11);
    font-size: 10px;
    font-style: italic;
}

#par_test2 {
    color: rgb(111, 34, 85);
    font-size: 20px;
    font-style: italic;
}
